.dashboard_container {
  width: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.dashboard_container_feed {
  margin-top: 25px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* FEED CONTENT */
.dashboard_feed_box {
  width: 90%;
  border-radius: 2px;
  background-color: var(--primary);
  margin-bottom: 50px;
}

.dashboard_feed_box_inner {
  color: var(--third);
  padding: 14px;
}

.dashboard_feed_box_top {
  width: 100%;
  margin-bottom: 15px;
}
.dashboard_feed_box_top_title {
  font-size: var(--fontSizeBigger);
}
.dashboard_feed_box_top_date {
  font-size: var(--fontSizeSmall);
  color: var(--thirdHalf);
}
.dashboard_feed_box_content {
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--third);
}
.dashboard_feed_box_content_title {
  font-size: var(--fontSizeBiggest);
  margin-bottom: 10px;
}
.dashboard_feed_box_content_text {
  font-size: var(--fontSizeNormal);
}
.dashboard_feed_box_end {
  display: flex;
}
.dashboard_feed_box_end_actions {
  display: flex;
  font-size: var(--fontSizeNormal);
}
.actions_report {
  flex: 1;

  color: var(--thirdHalf);
}
@media (max-width: 640px) {
  .dashboard_container_feed {
    width: 100%;
  }
}
/* END FEED CONTENT */
