.dashboard_container {
  width: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.dashboard_container_feed {
  margin-top: 25px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* FEED CONTENT */
.dashboard_feed_box {
  width: 90%;
  border-radius: 2px;
  background-color: var(--primary);
  margin-bottom: 50px;
}

.linkToPost {
  text-decoration: none;
}

.dashboard_feed_box_inner {
  color: var(--third);
  padding: 14px;
  display: flex;
  flex-direction: column;
  overflow-wrap: anywhere;
}

.dashboard_feed_box_top {
  width: 100%;
  margin-bottom: 15px;
}
.dashboard_feed_box_top_title {
  font-size: var(--fontSizeBigger);
}
.dashboard_feed_box_top_date {
  font-size: var(--fontSizeSmall);
  color: var(--thirdHalf);
}
.dashboard_feed_box_content {
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--third);
}
.dashboard_feed_box_content_title {
  color: var(--third);
  font-size: var(--fontSizeBiggest);
  margin-bottom: 10px;
}
.dashboard_feed_box_content_text {
  font-size: var(--fontSizeNormal);
}
.dashboard_feed_box_end {
  margin-top: 10px;
  display: flex;
}
.dashboard_feed_box_end_actions {
  display: flex;
  font-size: var(--fontSizeNormal);
}
.actions_utils {
  flex: 1;
  display: flex;
  gap: 15px;
  color: var(--danger);
  opacity: 0.6;
}
.actions_utils:hover {
  opacity: 1;
}

.actions {
  cursor: pointer;
}

.actions_like_box {
  margin-left: 0px;
}
/* DELETE CHECK BOX */
.delete_active {
  filter: blur(2px);
}

.container_delete {
  z-index: 5;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete_box {
  width: 300px;
  background-color: var(--second);
  border-radius: 8px;
  padding: 25px;
}

.delete_box h3 {
  font-size: var(--fontSizeBigger);
  color: var(--primary);
}

.delete_box_inner div {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.option {
  font-size: var(--fontSizeNormal);
  width: 45%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s all;
  border-radius: 8px;
  cursor: pointer;
}

.option_yes {
  color: var(--danger);
}
.option_no {
  color: var(--primary);
}

.option_yes:hover {
  color: var(--primary);
  background-color: var(--danger);
}

.option_no:hover {
  color: var(--third);
  background-color: var(--primary);
}

@media (max-width: 640px) {
  .dashboard_container_feed {
    width: 100%;
  }
}
/* END FEED CONTENT */
